.wrapper {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(140deg, #ffffff, #A6E1FA);
}

.card {
    background-color: #A6E1FA;
    border: none;
    border-radius: 12px;
    max-width: 400px;
    width: 100%;
}

.logo {
    display: block;
    margin: 0 auto 1rem;
    height: 60px;
}

.title {
    text-align: center;
    font-weight: bold;
    font-size: 1.8rem;
    color: #123c6a;
    margin-bottom: 1rem;
}
